html, body {
    background: #b0e1fa;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 0 0;
    height: 100vh;
  }

.chat-box{
    margin: 10px 5px;
    max-height: 250px;
    min-height: 250px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #469be0;
    box-shadow: 0 0 3px #093577;
    overflow-y: scroll;
}
.chat-wrapper {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content:center;
    align-content: center;
    align-items: center;
    }
    .chat-wrapper p {
        align-self: center;
        border: solid 1px #000000;
    }
    
    .message-text {
    min-height: 1em; /* prevent height collapsing when there is no text */
    max-height: 97px;
    width: 100%;
    align-content: center;
    outline: none;
    overflow: hidden;
    }
    
    .message-wrapper {
    width: 387px;
    border: 1px solid #e4e7ec;
    border-radius: 20px;
    background-color: #f9fafb;
    padding: 24px; /* the container will keep the padding untouched */
    max-height: 145px; /* added padding to the height of the .message-text */
    filter: drop-shadow(2px 2px 1px rgb(78, 107, 136));
    }
    
    textarea {
    resize: none;
    box-sizing: border-box;
    height: auto;
    min-height: 41px;
    max-height: 97px;
    width: 387px;
    border: 1px solid #e4e7ec;
    border-radius: 20px;
    background-color: #f9fafb;
    outline: none;
    padding: 0 24px 0 24px;
    overflow: hidden;
    }
    .btn {
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer; /* Mouse pointer on hover */
        background: none;
      }
      
      /* Darker background on mouse-over */
      .btn:hover {
        opacity: 50%;
      }
      .btn img{
          width: 100%;
      }

